
/* Custom styles */
body, html {
    height: 100%;
    margin: 0;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background-color: #f5f7fa;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;

}

.container-fluid {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    width: 75%;
    height: 80%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

/* Login Form Section */
.login-section {
    background-color: #ffffff;
    padding: 5rem 9rem;
  }

.login-section h1 {
    color: #266CA8;
    font-weight: 700;
}
.welcome-greet{
    color: #6c757d;

}
.login-section .text-greet {
    font-size: 13px;
    text-align: center;
  }
.register-greet{
    color: black;
}

.form-control {
    background-color: #f1f1f1;
    border: 1px solid;
  }
  /* form {
    width: 50%;

  } */
.btn-dark {
    background-color: #266CA8;
    border: none;
    font-weight: bold;

}


.btn-dark:hover {
    background-color: #2f55b7;
}

.register-btn a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
  }
  .register-btn a:hover {
    color: #2f55b7;
    text-decoration: none;
    font-weight: bolder;
  }
.form-label {
    margin-bottom: .5rem;
    font-size: 12px;
  }
.display-4,.alert-danger{
    text-align: center;
}
/* Image Section */
.login-image {
    background-color: #D8E7F3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
}