    body {
        background-color: #e6f1fc;
        font-family: 'Poppins', Helvetica, Arial, sans-serif;

      }
      .register-container {
      background-color: white;
      border-radius: 15px;
      padding: 40px 60px;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
      max-width: 35%;
  }
      h2 {
        color: #266CA8;
        font-weight: bold;
      }
      .form-label {
      /* font-weight: 500; */
      font-size: 13px;
      }
      .form-control {
      border: 1px solid;
      }
  
      .btn-block {
      width: 88%;
      background-color: #266CA8;
      color: white;
      font-weight: bold;
      /* justify-content: center; */
      /* display: flex; */
      margin-left: 20px;
      }
      .btn-block:hover {
        background-color: #003d80;
        color: white;
      }
      .login-link {
        color: black;
        text-decoration: none;
        font-weight: bold;
      }
      .login-link:hover {
        color: #266CA8;
      }
      .mt-4 {
      margin-top: 0.5rem !important;
      font-size: 13px;
    }