<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
</head>
<body>
    <h1>Edit User: {{ user.username }}</h1>
    <form action="/edit/{{ user.user_id }}" method="POST">

        <label for="firstName">First Name:</label><br>
        <input type="text" id="firstName" name="firstName" value="{{ user.f_name }}" required><br><br>

        <label for="lastName">Last Name:</label><br>
        <input type="text" id="lastName" name="lastName" value="{{ user.l_name }}" required><br><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" value="{{ user.email }}" required><br><br>

        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" value="{{ user.username }}" required><br><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        
        <label for="contact">Contact Number:</label><br>
        <input type="text" id="contact" name="contact" required><br><br>

        <input type="submit" value="Update User">
    </form>
    <br>
    <a href="/users">Back to Users List</a>
</body>
</html>
